.summary {
  //   outline: 2px solid coral;
  width: 75%;
  margin-inline: auto;
  margin-top: 3em;

  backdrop-filter: blur(0.4em);
  padding-inline: 3em;
  padding-block: 1em;

  background-color: #0c11259d;
  border-radius: 0.6em;

  h2 {
    color: white !important;
    // outline: 2px solid lightpink;
    text-transform: none;
    text-align: center;
  }
}
